html, body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	width: 100%;
}

header {
	background-color: #b6d9c5;
}

header .row {
	display: inline-flex;
	padding-top: 10px;
	
}

.col-md-12{
	display: inline-flex;
	align-items: center;

}

.col-md-12 p{
	font-size: 18px;
	margin-left: 60px;

}


.col-md-5 {
	margin: 10px;
	display: inline;
	align-items: center;
}

.logo {
	background-color: #85bba0;
	align-items: center;
	height: 260px;
}

.container {
	height: 600px;
	display: flex;
	align-items: center;
}

.jumbotron {
	margin-top: 30px;
	padding: 0;
}

.main {
	width: 100%;
	height: auto;
	background-color: #e0eecb;
	margin-top: 30px;
	display: inline-flex;
	align-items: center;

}

a {
	margin: 0 auto;
}

.main h2{
	text-align: justify;
}

.footer {
	margin-top: 30px;
	width: 100%;
	height: 250px;
	background-color: #124d5a;
}

.footer p{
	position: relative;
}
a:link {
    color: #114c59;
}

/* visited link */
a:visited {
    color: #114c59;
}

/* mouse over link */
a:hover {
    color: #dcf3aa;
}

/* selected link */
a:active {
    color: #dcf3ab;
}



